  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 7vw;
  }
body{
    min-height: 100vh;
    background-image: url(https://i.postimg.cc/15Rj05yQ/background.jpg);
background-size: cover;
}
body::before{
    background-color: rgba(52, 73 ,94, 0.3);
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -3;
    }
.logo{  
    font-size: calc(1vw + 1.5rem);
    color: #fff;
    user-select: none;
}
header a{
    position: relative;
    text-decoration: none;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
}
.navigation > a::after{
content: "";
position: absolute;
left: 0;
bottom: -6px;
width: 100%;
height: 3px;
background-color: #fff;
border-radius: 5px;
transform: scaleX(0);
transition: transform 0.5s;
}
.navigation  a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
header button,.page1 button{
    font-size: 1.1em;
    color: #fff;
    background-color: transparent;
    width: 130px;
    height: 50px;
    border: 2px solid #fff;
    cursor: pointer;
    outline: none;
    border-radius: 6px;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
}
header button:hover{
    background: #fff;
color: #162938;
}
.page1{
    text-align: center;
    padding-top: 100px;
    z-index: 2;
    position: relative;
}
.page1 h1{
    font-size: 3rem;
    color: #162938;
    font-weight: 1500;
}
.page1 p{
    color: #162938;
    font-size: 1.1em;
    font-weight: bold;
}
.page1 button{
margin: 20px 0px 0px 0px;
background-color: #162938;
border: none;
width: 180px;
height: 45px;
transition: 0.5s;
}
.page1 button:hover{
    box-shadow: 0px 3px 25px 0px black;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.active-here{
    position: absolute;
    left: 30%;
    opacity: 0.2;
}
.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255,255, 255, 0.5);
    border-radius: 20px ;
    backdrop-filter: blur(20px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    display: none;
    transition: 0.3s ease-in;
    align-items: center;
    z-index: 100;
    }
   .wrapper.active{
    height: 520px;
   }
   .wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
   }
   .wrapper.active .form-box.register{
    transition: 0.3s ease-in-out;
    transform: translateX(0);
   }
   .wrapper.active-popup{
    display: flex;
   }
.form-box{
width: 100%;
padding: 40px;
}
.form-box h2{
font-size: 2em;
color: #162938;
text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.input-box input:focus~label,
.input-box input:valid~label,
.input-box input:active~label{
    top: -3px;
}
.input-box input{
    height: 100%;
    background: transparent;
    border:none;
    outline: none;
}
.input-box label{
position: absolute;
top: 40%;
left: 5px;
transform: translateY(-50%);
font-size: 1em;
color: #162938;
font-weight: 600;
transition: 0.3s ease-in;
user-select: none;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    padding: 0px 35px 0 5px;
    z-index: 2;
}
.input-box > .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height:57px;
}
.remember-forget{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forget label input{
    accent-color: #162938;
     margin-right: 3px;
}
.remember-forget a{
    color: #162938;
    text-decoration: none;
}
.remember-forget a:hover{
text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.login-register{
    font-size: 0.9em;
    color: #162938;
    font-weight: 500;
 margin: 25px 0px 10px;
    text-align: center;
}
.login-register p a{
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}
.wrapper .space-icon{
    position: absolute;
    top: 0;
right: 0;
width: 45px;
height: 45px;
background-color: #162938;
color: #fff;
font-size: 2em;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
border-bottom-left-radius: 20px;
z-index: 1;
}
.register{
    padding: 0 40px;
    position: absolute;
    transform: translateX(400px);
}
.hamburger{
    display: none;
    cursor: pointer;
  }
  .bar{
     display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: rgb(250, 248, 248);
  }
  @media(max-width:800px){
  
      
    .hamburger{
      position: relative;
        display: block;
    padding-right: 1rem;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px)rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px)rotate(-45deg);
    }
    .hamburger.active .bar:nth-child(2){
        opacity:0;
    }
    header{
        gap: 1rem;
        padding: 20px 3px 20px 6vw;
    }
    .logo{
        flex-grow: 3;
    }
    .navigation{
        position:absolute;
        left: -120%;
        top:61px;
        gap:1.7rem;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
  
    }
    .navigation.active{
        left:0%;
        margin: 0;
    }
  }